# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll
*.so

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app
/X64/

/cmake-build-debug/
/.idea/
/.vscode/
/build_/